.header{
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 1px 10px; 

}

.header .logo1 img{
		
    	border-radius: 4px;
    	padding: 20px;
    	width: 150px;
		}

.header .logo2 img{
		align-items: right;
		border-radius: 4px;
    	padding: -20px;
    	width: 150px;

}
.container .row{
	background-color: red;
}