<nav class="navbar navbar-expand-md bg-dark navbar-dark">
	<a class="navbar-brand" href="#">Django</a>


	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>


	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav ml-auto">
			{% if not user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'signUp' %}">SignUp</a>
				
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'login' %}">SignIn</a>
				
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'profile' user.id %}">Profile</a>
				
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Hi,welcome {{request.user}}</a>
				
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'logout' %}">Signout</a>
				
			</li>
			{% endif %}
		</ul>
		
	</div>
</nav>
